MONGODB_URI = "your_mongo_uri_here"
CLOUDINARY_API_KEY = "cloudinary_api_key_here"
CLOUDINARY_API_SECRET_KEY = "cloudinary_secret_key_here"
CLOUDINARY_NAME = "cloudinary_name_here"
JWT_SECRET = 'jwt_secret_here'